.list-group-item
  .row
    .col-md-9
      = link_to (local_assigns[:display] ? test_session.user.full_name : "#{test_session.user.short_name} — #{test_session.scenario.full_name}"), test_session_path(test_session)
    .col-md-2
      = l test_session.updated_at
    .col-md-1
      = test_session.correct_answers
      =?/
      = test_session.data['questions'].count
