.container-fluid
  .my-3
    = link_to 'Перейти на «Подспорье»', 'https://edu-support.mephi.ru', class: 'btn btn-info my-4'
    = link_to 'Перейти на корпоративный портал', 'https://home.mephi.ru', class: 'btn btn-info my-4'
    = form_tag test_sessions_path, method: 'get', class: 'mx-4' do
      .row
        .col-md-12
          = select_tag :scenario, options_from_collection_for_select(@scenarios, :id, :full_name, params[:scenario]),  multiple: true, class: 'form-control'
      .row.mt-2
        .col-md-3
          = text_field_tag :group, params.permit![:group], placeholder: 'Разделённые пробелом группы', class: 'form-control'
        .col-md-1
          = text_field_tag :user, params.permit![:user], placeholder: 'Логин', class: 'form-control'
        .col-md-2
          = text_field_tag :page_size, params[:page_size], placeholder: 'Размер страницы', class: 'form-control'
        .col-md-2
          = text_field_tag :before, params[:before], placeholder: 'Не позже', class: 'form-control'
        .col-md-2
          = text_field_tag :after, params[:after], placeholder: 'Не ранее', class: 'form-control'
        .col-md-2
          = button_tag type: 'submit', class: 'btn btn-primary' do
            =fa_icon 'search'
            Поиск
    %h2.mt-4 Найденные тестирования
    %nav.pagination.justify-content-center
      = paginate @test_sessions
    .list-group
      - @test_sessions.each do |ts|
        = render 'test_sessions/test_session_row', test_session: ts
    %nav.mt-2.pagination.justify-content-center
      = paginate @test_sessions
