= content_for :navbar do
  #clock{ data: { duration: duration_session(@test_session) } }

.container-fluid
  .my-3
    = form_tag pass_test_sessions_path, class: 'ui form test-form' do
      .actions.text-center
        = submit_tag(t('helpers.buttons.test'), data: {confirm: 'Вы не сможете вернуться к этому тестированию позже. Вы уверены, что хотите завершить его?'}, class: 'btn btn-secondary')
      .clearfix
      .my-4.d-flex.justify-content-between.align-items-end
        %a.page-link.left-question.invisible{href: ?#} Предыдущий вопрос
        .pagination.nav.nav-tabs.border-0.questions-list
          .page-item.nav-item.float-left
          - @test_session.questions.each_with_index do |_, i|
            .page-item.nav-item
              %a.page-link{ href: "#tab#{i}", class: "#{active_class(i, include_nav: true, size: @test_session.questions.size).join(' ')} #{@test_session.data['answer'].nil? || @test_session.data['answer'][@test_session.data['questions'][i].to_s].nil? ? '' : 'processed'}", data: { toggle: 'tab'}}
                = i + 1
        %a.page-link.right-question{href: ?#} Следующий вопрос
      .tab-content
        - @test_session.questions.each_with_index do |q, i|
          .tab-pane{ class: active_class(i), id: "tab#{i}", role: "tabpanel"}
            .card.d-flex.align-items-stretch.my-4
              .card-header
                %h4
                  = "Задание #{i+1}"
              .card-body
                .card-title.test-question
                  = preserve(markdown(q.body))
                - answers = @test_session.stud_answers(q)
                - answers.each_with_index do |a_var, j|
                  = render "answers/test_session/#{q.code}", question: q, q_num: [i], answer: a_var, a_num: j, answers: answers, s_params: @test_session.data['params']
