.container
  .my-3
    .card
      .card-header
        %h2
          = l(@test_session.updated_at)
          = @test_session.scenario_name

      .card-body
        - @test_session.result.each do |q, result|
          .item
            %i.icon{ class: result_class(result) }
            = q.theme_name

    = link_to 'Подробнее о результатах завершившегося тестирования', @test_session, class: 'btn btn-info my-4'

    = link_to 'Перейти на «Подспорье»', 'https://edu-support.mephi.ru', class: 'btn btn-info my-4'

    = link_to 'Перейти на корпоративный портал', 'https://home.mephi.ru', class: 'btn btn-info my-4'
