.container-fluid
  .my-3
    %h3
      = @test_session.user.full_name
      = link_to 'Перейти на «Подспорье»', 'https://edu-support.mephi.ru', class: 'btn btn-info my-4'
      = link_to 'Перейти на корпоративный портал', 'https://home.mephi.ru', class: 'btn btn-info my-4'
    %h4
      = l(@test_session.updated_at)
      = @test_session.scenario_name
  .accordion#test-session-data{role: 'tablist'}
    - @test_session.result.each_with_index do |r, i|
      .card.mb-2
        .card-header.border{id: "heading#{i}"}
          %i{ class: result_class(r[1]) }
          %a.text-dark{data: {toggle: 'collapse'}, href: "#collapse#{i}", aria: {expanded: false}}= r[0].theme_name
        .collapse.multi-collapse.show{id: "collapse#{i}", aria: {labelledby: "heading#{i}" }}
          .card-body
            = preserve(markdown(r[0].body))
            .row
              .col-md-6
                .text-bold Правильный ответ
                = render "answers/show/#{r[0].code}", answer: r[0].code == 'reg_open' ? "/#{r[0].answer.body[0]}/"[1..-2] : r[0].answer.body, answer_variants: r[0].r_answers
              .col-md-6.border-0
                .text-bold Ответ тестируемого
                = render "answers/show/#{r[0].code}", answer: @test_session.data['answer'][r[0].id.to_s], answer_variants: r[0].r_answers



  .my-3
    %h3
      = link_to 'Перейти на «Подспорье»', 'https://edu-support.mephi.ru', class: 'btn btn-info my-4'
      = link_to 'Перейти на корпоративный портал', 'https://home.mephi.ru', class: 'btn btn-info my-4'
