.container-fluid
  = link_to 'Перейти на «Подспорье»', 'https://edu-support.mephi.ru', class: 'btn btn-info my-4'
  = link_to 'Перейти на корпоративный портал', 'https://home.mephi.ru', class: 'btn btn-info my-4'
  %h2.mt-4 Найденные тестирования
  %nav.pagination.justify-content-center
    = paginate @test_sessions
  .list-group
    - @test_sessions.each do |ts|
      = render 'test_sessions/test_session_row', test_session: ts
  %nav.mt-2.pagination.justify-content-center
    = paginate @test_sessions
