!!!
%html{ lang: 'ru' }
  %head
    %title #{t('app.company.short_name')}. #{t('app.name')}
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge" }
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'mathjax_tag'
    = javascript_include_tag "https://edu-support.mephi.ru/MathJax/MathJax.js?config=TeX-AMS-MML_SVG-full"
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'favicon-32x32.png', sizes: '32x32'
    = favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon'
  %body
    = render 'navbar_top'
    -if content_for? :breadcrumb
      %nav.breadcrumb
        = yield :breadcrumb
    = render 'flash'
    -if content_for? :error_messages
      =yield :error_messages
    = yield
    %footer.footer= render 'footer'
