.console
  background-color: black
  color: white
  font-family: Monospace
  font-size: 16px
  height: 500px
  overflow: auto
  white-space: pre
  padding: 5px;

  &__input
    font-weight: bold

  &__output
    color: #aaa
    &_error
      color: #f66;