body
  background: $body-bg
  font-family: 'Lato'
  font-size: 1.04em

.lead
  font-size: 1.4em

.add_fields
  margin-top: 20px !important

.h300
  min-height: 35em

pre
  font-family: "Courier 10 Pitch", Courier, monospace
  font-size: 95%
  line-height: 140%
  white-space: pre
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -o-pre-wrap

.my-vspace
  margin-bottom: 20px !important

.processed
  background-color: #ddd !important

.spec-color
  color: #888

.footer
  margin-top: 3rem

.navbar
  &.bg-primary
    background-color: $brand-blue !important


.navbar-img
  position: relative
  top: -3px


.navbar-brand
  text-transform: uppercase
  font-weight: bold

.text-sm
  font-size: 80%

.dashed
  border-bottom-width: 1px
  border-bottom-style: dashed
  text-decoration: none
  &:hover, &:active
    text-decoration: none

.control-label
  font-weight: 500

.text-bold
  font-weight: 700

.has-error, .has-error .help-block, .has-error .form-control
  @extend .is-invalid
  color: theme-color(danger)

.btn
  margin: 0 2px
  &:focus
    color: $white

input[type=checkbox]
  transform: scale(1.25)

input[type=radio]
  transform: scale(1.25)

.custom-control-label
  padding-left: 0.3em
