// Place all the styles related to the test_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clock
  line-height: 1.5em
  font-size: 1.5em
  font-weight: 400
  display: block
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2)

.test-question
  padding: 0 15px
  font-size: 1.25em
  pre
    margin-left: 0
  img
    display: block
    margin-left: 0

a.active
  background-color: #007bff !important
  color: #fff !important
