$import-google-fonts: false
@import "fonts"
@import "bootstrap"
@import "rails_bootstrap_forms"
@import "font-awesome"
@import "vars"
@import "main"

@import "test_sessions"
@import "console"
@import "calendar.min"

.ui[class*="vertically divided"].grid > .column:not(.row),
.ui[class*="vertically divided"].grid > .row > .column
  margin-top: 0.5rem
  margin-bottom: 0.2rem
  padding-top: 0rem
  padding-bottom: 0rem

.squeeze
  padding-left: 0.292em !important
  padding-right: 0.417em !important
