$body-bg: #f2f2f2

$enable-rounded: false
//
// $breadcrumb-bg: none;
// $breadcrumb-padding-y: 0;
// $breadcrumb-padding-x: 0;

$blue: #0066b3
$red: #ee2f53
$white: #fff
$yellow: #FE9A76
$brand-blue: #051945

$navbar-dark-color: rgba($white, .75)
$navbar-dark-hover-color:   rgba($white, .90)
