= bootstrap_form_for @question, html: { class: 'question-form' } do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  = f.association :theme, disabled: true
  = f.input :theme_id, as: :hidden
  = f.association :question_type, collection: QuestionType.all.map { |q_t| [q_t.name, q_t.id, {data: {type: q_t.code}}] }
  = f.input :body, as: :text
  = f.input :hidden, as: :checkbox, wrapper: :slider

  .ui.divider
  .answer
  .answer-variants
  .ui.buttons
    -# = f.button :submit, t('simple_form.submit')
    .ui.button.primary#add_answer{ data: { url: add_answer_questions_path } } Перейти в к ответам
