%h1 Listing questions

%table
  %thead
    %tr
      %th User
      %th Theme
      %th Body
      %th Question type
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.user
        %td= question.theme
        %td= question.body
        %td= question.question_type
        %td= link_to 'Show', question
        %td= link_to 'Edit', edit_question_path(question)
        %td= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_question_path
