- content_for :breadcrumb do
  = sections_breadcrumb
  .section= link_to @question.section_name, @question.section
  = divider_tag
  .section.active= link_to @question.theme_name, @question.theme
  = divider_tag
  .section.active= title(:questions, :new)

.ui.segment
  %h2.ui.header.dividing=title(:themes, :new)
  = render 'form'
