- content_for :breadcrumb do
  %span.breadcrumb-item= sections_breadcrumb
  %span.breadcrumb-item= link_to @question.theme.section_name, @question.theme.section
  %span.breadcrumb-item= link_to @question.theme_name, @question.theme
  %span.breadcrumb-item.active=  @question.id


-#.ui.buttons.floated.right.floated
  = link_to edit_question_path(@question), class: 'button orange ui icon right floated' do
    = semantic_icon 'pencil'
    = t('helpers.buttons.edit')
  = link_to question_path(@question), class: 'button red ui icon right floated', data: {method: :delete, confirm: t('helpers.sure')} do
    = semantic_icon 'trash outline'
    = t('helpers.buttons.destroy')

.container-fluid
  .my-3
    .card
      .card-body
        %h4.card-title Вопрос:
        = preserve(markdown(@question.body))
        %h4.card-title Oтвет:
        = render "answers/show/#{@question.code}", answer: @question.code == 'reg_open' ? "/#{@question.answer.body[0]}/"[1..-2] : @question.answer.body, answer_variants: @question.r_answers
