= bootstrap_form_for @theme do |f|
  - if @theme.errors.any?
    #error_explanation
      %h2= "#{pluralize(@theme.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @theme.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name
  = f.association :section, disabled: true

  .ui.divider
  = f.button :submit, t('simple_form.submit')
