- content_for :breadcrumb do
  = sections_breadcrumb
  .section= link_to @theme.section_name, @theme.section
  = divider_tag
  .section.active
    = title(:themes, :edit)
    = link_to @theme.name, @theme

.list-group
  %h2.ui.header.dividing=title(:themes, :edit)
  = render 'form'
