%h1 Listing themes

%table
  %thead
    %tr
      %th Name
      %th User
      %th Section
      %th
      %th
      %th

  %tbody
    - @themes.each do |theme|
      %tr
        %td= theme.name
        %td= theme.user
        %td= theme.section
        %td= link_to 'Show', theme
        %td= link_to 'Edit', edit_theme_path(theme)
        %td= link_to 'Destroy', theme, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Theme', new_theme_path
