- content_for :breadcrumb do
  = sections_breadcrumb
  .section= link_to @theme.section_name, @theme.section
  = divider_tag
  .section.active= title(:themes, :new)

.ui.segment
  %h2.ui.header.dividing=title(:themes, :new)
  = render 'form'
