- content_for :breadcrumb do
  %span.breadcrumb-item= sections_breadcrumb
  %span.breadcrumb-item= link_to @theme.section_name, @theme.section
  %span.breadcrumb-item.active= @theme.name


-#.ui.buttons.floated.right.floated
  = link_to new_question_path(theme_id: @theme.id), class: 'button blue ui icon' do
    = semantic_icon 'plus'
    = t('helpers.buttons.create')
    = t('helpers.models.question.genetive')
  = link_to edit_theme_path(@theme), class: 'button orange ui icon right floated' do
    = semantic_icon 'pencil'
    = t('helpers.buttons.edit')
  = link_to theme_path(@theme), class: 'button red ui icon right floated', data: {method: :delete, confirm: t('helpers.sure')} do
    = semantic_icon 'trash outline'
    = t('helpers.buttons.destroy')

.container-fluid
  .my-3
    %h2= @theme.name
    %h4 Вопросы темы
    %nav.pagination.justify-content-center
      = paginate @questions
    .list-group
      -@questions.each do |question|
        = link_to preserve(markdown(question.body)), question
    %nav.mt-2.pagination.justify-content-center
      = paginate @questions
