- size_css = local_assigns[:size] || 'small'
.ui.buttons{class: size_css}
  - if local_assigns[:edit_path]
    = link_to edit_path, class: 'btn btn-outline-warning' do
      = fa_icon "pencil"
  -if local_assigns[:actions]
    - actions.each do |icon, path, title|
      = link_to path, title: title, class: 'btn btn-outline-info' do
        = fa_icon icon
  - if local_assigns[:destroy_path]
    = link_to destroy_path, class: 'btn btn-outline-danger', data: {method: :delete, confirm: t('helpers.sure')} do
      = fa_icon "trash outline"
