%nav.navbar.navbar-expand-md.navbar-dark.bg-primary.mb-4
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'mephi_logo_small_white.png', alt: t('app.company.short_name'), class: 'navbar-img'
    =t('app.name')
  =button_tag fa_icon('bars'), type: 'button', class: 'navbar-toggler', data: {toggle: 'collapse', target: '#navbar-collapse'}
  .collapse.navbar-collapse#navbar-collapse
    %ul.navbar-nav.mr-auto
      - if @current_user.try(:tutor?)
        %li.nav-item
          = link_to title(:scenarios, :index), scenarios_path, class: 'nav-link'
        %li.nav-item
          = link_to title(:sections, :index), sections_path, class: 'nav-link'
        %li.nav-item
          = link_to title(:test_sessions, :index), test_sessions_user_path(@current_user), class: 'nav-link'
      - unless @current_user.only_student?
        %li.nav-item
          = link_to title(:users, :index), test_sessions_path, class: 'nav-link'
      %li.nav-item
        = link_to title(:console, :index), console_path, class: 'nav-link'
    %ul.navbar-nav
      %li.nav-item.dropdown
        - if current_login.present?
          =link_to ?#, class: 'nav-link dropdown-toggle', data: {toggle: 'dropdown'} do
            = session[:zombie] || current_fio
        .dropdown-menu
          - if @current_user.try(:admin?)
            = link_to edit_current_user_users_path, class: 'dropdown-item' do
              = fa_icon 'user-secret'
              Сменить роль
            = link_to users_path, class: 'dropdown-item' do
              = fa_icon 'users'
              Пользователи
          = link_to session[:zombie].blank? ? '/logout' : reset_current_user_users_path, class: 'dropdown-item' do
            = fa_icon 'sign-out'
            Выход
