= form_for @question_type do |f|
  - if @question_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question_type.errors.count, "error")} prohibited this question_type from being saved:"
      %ul
        - @question_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :klass
    = f.text_field :klass
  .actions
    = f.submit 'Save'
