.form-check
  %label.form-check-label
    = check_box_tag "answer[#{q_num}][]", a_num, s_params.try(:[], q_num[0].to_s).try(:include?, a_num.to_s), class: 'form-check-input', id: nil
    = preserve(markdown(answer.body, true))
