%div
  = select_tag "answer[#{q_num}][#{a_num}]", options_for_select((1..answers.size).to_a, s_params.try(:[], q_num[0].to_s).try(:[], a_num.to_s).try(:[], 0).to_i), include_blank: true
  = preserve(markdown(answer.body, true))
