= bootstrap_form_for @section do |f|
  - if @section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @section.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name, label: t('simple_form.labels.section.name')
  %h4.dashed.ui.header.dividing Темы раздела
  .fieldset
    .appended-fields
      = f.fields_for :themes do |builder|
        = render 'theme_fields', f: builder
    = link_to_add_fields 'Добавить темы', f, :themes
  .actions
    = f.primary
