- content_for :breadcrumb do
  = sections_breadcrumb
  %span.breadcrumb-item.active= title(:sections, :edit)


.container-fluid
  .my-3
    %h2.ui.header.dividing=@section.name
    .card
      .card-body
        = render 'form'
