.container-fluid
  .my-3
    %h2
      =title(:sections, :index)
      -#.btn-group.pull-right
        = link_to "Показать", sections_path(all: true), class: 'btn btn-secondary'
        = link_to "Скрыть", sections_path, class: 'btn btn-secondary'
    -if @sections.blank?
      .alert.alert-info.my-4=t '.not_found'
    .clearfix
    .list-group
      -@sections.each do |section|
        = link_to section.full_name, section, class: 'list-group-item'
    .my-4=paginate @sections
