- content_for :breadcrumb do
  = sections_breadcrumb
  %span.breadcrumb-item.active= title(:sections, :new)

.container-fluid
  .my-3
    %h2.ui.header.dividing=title(:sections, :new)
    .card
      .card-body
        = render 'form'
