- content_for :breadcrumb do
  = sections_breadcrumb
  %span.breadcrumb-item.active= @section.full_name

.container-fluid
  .my-3
    %h4
      Темы раздела
    .list-group
      -@section.themes.each do |theme|
        .list-group-item
          =link_to "#{theme.name} (#{theme.questions.count})", theme_path(theme)
    - if @section.old.size > 1
      %h4.my-3
        Все версии раздела
      .list-group
        -@section.old.each do |section|
          .list-group-item
            %span.badge.badge-secondary= "#{section.version.nil? ? 'Актуальная версия' : 'v'+section.version.to_s}"
            = link_to section.created_at, section_path(section)
