- if answer.nil?
  %div —
-else
  - answer.each do |s1, s2|
    .row
      .col-md-6
        = s1.blank? ? '—' : preserve(markdown(answer_variants.find(s1).body, true))
      .col-md-6
        = s2.blank? ? '—' : preserve(markdown(answer_variants.find(s2).try(:body), true))
