.ui.grid.one.column
  - if answer.nil?
    %div —
  -else
    - answer.each_with_index do |a, i|
      .text-bold
        = "#{i+1})"
        - if a.class == Array
          = preserve(a.map{|e| markdown(answer_variants.find{|q| q.id == e}.body, true)}.join(", "))
        - else
          = preserve(markdown(answer_variants.find{|q| q.id == a}.body, true))
