.ui.header= title 'users', 'edit_current_user'

.ui.segment
  = bootstrap_form_for "", url: update_current_user_users_path, method: :patch do |f|
    = f.text_field :login, label: User.model_name.human, id: "edit_current_user_login"
    .ui.divider
    = f.submit 'Сменить пользователя', class: 'ui primary button'
