- content_for :breadcrumb do
  = users_breadcrumb

-# = link_to new_section_path, class: 'button blue ui icon right floated' do
-#   = semantic_icon 'plus'
-#   = t('helpers.buttons.create')
= form_tag users_path, method: 'get' do
  .ui.search
    .ui.icon.input
      = text_field_tag :q, params[:q]
      %i.search.icon
    = submit_tag 'Поиск', class: 'ui primary button'
.ui.segment.index-segment
  %h2.ui.header.centered= title(:users, :index)
  .ui.divider
  .ui.grid.vertically.divided.two.column.stackable
    -@users.each do |user|
      .two.column.row.no-pdg
        .column.left.floated
          .lead=link_to user.full_name, test_sessions_user_path(user)
        .three.wide.column.rigth.floated.right.aligned
