.container-fluid
  .my-3
    %h3= @user.full_name
    .list-group
      - @ts.order("updated_at DESC").each do |ts|
        = render 'test_sessions/test_session_row', test_session: ts
    = paginate @ts
