= bootstrap_form_for @scenario do |f|
  - if @scenario.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scenario.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @scenario.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name, label: 'Новое название'
  = f.number_field :duration, label: 'Продолжительность (мин)'
  = f.select :groups, @groups, {}, multiple: true, size: @groups.size

  .actions
    = f.primary
