-# = f.object.inspect
.two.fields
  .thirteen.wide.field
    =f.association :theme, label: false, include_blank: t('simple_form.labels.scenario_theme.theme')
  .two.wide.field
    =f.input :questions, label: false, placeholder: t('simple_form.labels.scenario_theme.questions')
  .one.wide.field
    = link_to_remove_fields f
