.my-3
  .list-group
    = "Группы, которым разрешено тестирование по этому сценарию#{@scenario.groups.blank? ? ', отсутствуют!' : ':'}"
    - @scenario.groups.each do |g|
      .list-group-item
        .float-left.mt-2
          = "#{g}"
