.container-fluid
  .my-3
    .card
      .card-header
        %h3
          = @scenario.full_name
          %span.text-sm.pull-right.badge.badge-info
            = " #{@scenario.duration} мин"

      .card-body
        .card-title
          Темы:
        %ol
          - @scenario.scenario_themes.each do |sth|
            %li
              = "#{sth.theme.name} — #{sth.questions} вопр."
        = render 'form'

    %h4.my-3
      Все версии сценария
    .list-group
      -@scenario.old.each do |scenario|
        .list-group-item
          %span.badge.badge-secondary= "#{scenario.version.nil? ? 'Актуальная версия' : 'v'+scenario.version.to_s}"
          = link_to scenario.created_at, scenario_path(scenario)
