- content_for :breadcrumb do
  %span.breadcrumb-item.active Сценарии
.container-fluid
  .my-3
    %h2
      Сценарии
      -#.btn-group.pull-right
        = link_to "Показать", scenarios_path(all: true), class: 'btn btn-secondary'
        = link_to "Скрыть", scenarios_path, class: 'btn btn-secondary'
    .list-group
      -@scenarios.each do |scenario|
        .list-group-item
          .float-left.mt-2
            = scenario.name
          .float-right
            =render 'action_buttons', actions: [["eye",scenario_path(scenario),'Посмотреть параметры сценария'],["plus",edit_scenario_path(scenario, groups: 'all'),'Разрешить тестирование всем группам'],["minus",edit_scenario_path(scenario, groups: 'none'), 'Запретить тестирование всем группам'],["pencil",edit_scenario_path(scenario),'Редактировать список групп'],["play",new_test_session_path(scenario_id: scenario),'Начать тестирование'],["copy",new_scenario_path(scenario_id: scenario),'Создать копию сценария']], size: 'tiny'
  .my-4=paginate @scenarios
