.container-fluid
  .my-3
    .card
      .card-header
        %h3
          Создание нового сценария

      .card-body
        .card-title
          Темы
        %ol
          - @scenario.scenario_themes.each do |sth|
            %li
              = "#{sth.theme.name} — #{sth.questions} вопр."

        = render 'new_form'
