.container-fluid
  .my-3
    .card
      .card-header
        = @scenario.name
      .card-body
        .list-group
          - @test_sessions.each do |ts|
            = render 'test_sessions/test_session_row', test_session: ts, display: :user
