%nav.navbar.navbar-expand-md.navbar-dark.bg-primary.mb-4
  .navbar-brand
    = image_tag 'mephi_logo_small_white.png', alt: t('app.company.short_name'), class: 'navbar-img'
    =t('app.name')
  =button_tag fa_icon('bars'), type: 'button', class: 'navbar-toggler', data: {toggle: 'collapse', target: '#navbar-collapse'}
  .collapse.navbar-collapse#navbar-collapse.d-flex.justify-content-between
    %ul.navbar-nav
      %li.nav-item
        .nav-link= @test_session.scenario_name
    %ul.navbar-nav
      %li.nav-item
        .nav-link.text-center= yield :navbar
    %ul.navbar-nav
      %li.nav-item
        - if current_login.present?
          .nav-link= session[:zombie] || current_fio
